* {
    border: box-sizing;
}

#prompt {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav{
    margin-top: 20px;
}

#qrcode {
    width: 400px;
    height: 355px;
    margin-top: 35px;
}

#questions li {
    padding-top: 15px;
}

.container {
    display: flex;
    align-items: flex-start;
}

.clinic {
    float: left;
    padding: 20px;
    border: solid 3px rgba(56, 103, 170, 0.829);
    border-radius: 6%;
    
}

.Qr-space {
    float: left;
    clear: none;
}

.clinic, .Qr-space {
    display: inline-block;
    vertical-align: top; /* Optional: Aligns the top edges */
}

.col-1 {width: 40%;}
.col-2 {width: 60%;}
.col-3 {width: 80%;}
.col-4 {width: 100%;}









@media only screen and (max-width: 1050px) {
    #language {
        margin-left: 15px; 
        margin-right: 15px;
        font-size: larger;
    }
    #prompt {
        margin: 15px;
    }

    #questions li {
        padding-top: 3%;
    }

     #questions li:nth-of-type(3) {
            margin-left: 55px;
            margin-right: 55px;
           }

        #location {
            font-size: x-large;
        }

        #qrcode {
            font-size: x-large;
            width: 400px;
            height: 350px;
            padding: 20px 0px 20px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 75px;
            margin-top: 35px;
        }

        .nav {
            margin-top: 20px;
        }
}

@media only screen and (max-width: 650px) {
    #qrcode {
        font-size: larger;
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        width: 300px;
        height: 300px;  
        margin-bottom: 75px;
    }

    #location {
        font-size: larger;
        margin: 20px 0px 20px 0px;
    }

    .nav {
        font-size: medium;
        padding: 10px;
        margin-top: 20px;
    }

    .nav-logo {
        width: 100%;
        height: 100%;
        margin-left: 10px;
    }

    #prompt {
        font-size: larger;
        padding: 10px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0;
    }

}



@media only screen and (max-width: 450px){
    .nav {
        font-size: smaller;
        margin-left: 15px;;
        padding: 8px;
        margin-top: 20px;
    }

    .nav-logo {
        display: none;
    }

    #language {
        margin-left: 15px;
        margin-right: 15px;
        font-size: large;
    }

    #prompt {
        font-size: medium;
        padding: 10px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #questions {
        padding: 5%;
        margin-top: 0;
    }

    #questions li {
        padding-top: 10%;
    }

    #qrcode {
        font-size: large;
        padding: 30px 0px 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 35px;
        width: 250px;
        height: 200px;  
    }

    #location {
        font-size: large;
        margin: 20px 0px 20px 0px;
    }
}

