* {
    border: box-sizing;
    overflow: auto;
}

.welcome {
    font-size: 30px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container {
    display: flex;
   justify-content: center;
   align-content: center;
    margin: auto;
}


#prompt {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#language {
    float: right;
    cursor: pointer;
}

#location {
    padding-top: 20px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

#spinner {
    margin-left: 45%;
    padding-top: 20%;
}

.nav{
    margin-top: 20px;
}

#qrcode {
    width: 350px;
    height: 270px;  /*fix thhis on screen size optimization*/
    margin-top: 25px; 
}


#questions li {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

#questions li:nth-child(-n+2) {
    font-weight: bold;
}

.instructions {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    color: #00538C;
    font-weight: bold;
}

.info-icon {
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
}

.clinic {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: black;
    padding: 15px 20px 15px 15px;
    overflow: hidden;
}

.clinic, .Qr-space {
    height: 430px;
}

.google-container {
    margin-top: 3%;
    border-top: solid 2px black;
}

.google-title {
    margin-top: 3%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.googleOverview {
    border: solid 3px #00538C;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: auto;
    margin-bottom: 5%;
    height: 400px;
    overflow-y: scroll;
}

.footer-container {
    display: flex;
    padding: 10px;
}

.contact-title, .location-title, .hours-title{
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
}

.hours-list, .contact-list, .location-list {
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.contact-container, .location-container, .hours-container {
    width: 33%;
}


.provider-container {
    display: flex;
    justify-content: space-around;
 
}

.provider-title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2%;
    text-align: center;
}

.provider-name {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.provider-img {
    width: 375px;
    height: 350px;
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.provider-credentials {
    color: rgba(143, 142, 142, 0.85);
}


#map {
    padding: 5%;
    padding-top: 1%;
}
.g-maps {
    width: 100%;
    float:right;
    border: solid 2px black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1.5%;
}






.col-1 {width: 45%;}
.col-2 {width: 55%;}
.col-3 {width: 80%;}
.col-5 {width: 100%;}


/* Ipad pro */
@media only screen and (max-width: 1050px) {

   .welcome {
    font-size: 25px;
    }

    #language {
        margin-left: 15px; 
        margin-right: 15px;
        font-size: larger;
    }
    #prompt {
        margin: 15px;
    }

    #questions li {
        padding-top: 2%;
        font-size: 17px;
    }

    .clinic {
        padding: 10px;
    }
    .instructions {
        text-align: center;
        padding: 4px;
    }

     #questions li:nth-of-type(3) {
            margin-left: 55px;
            margin-right: 55px;
           }

        #location {
            padding-top: 13px;
            padding-right: 8px;
            font-size: 23px;
        }

        #qrcode {
            font-size: 25px;
            width: 275px;
            height: 275px;
            margin-top: 15px;
        }

        .provider-img {
            width: 305px;
            height: 300px;
        }
        .nav {
            margin-top: 20px;
        }
}

/* Surface pro 7 */
@media only screen and (max-width: 912px) {
    .clinic {
        padding: 0px 5px 0px 0px;
        width: 440px;
    }
    #prompt {
        font-size: 18px;
        margin: 5px;
    }
    #questions li {
        padding-top: 2%;
        font-size: 15px;
    }

    #questions li:nth-child(-n+2){
        width: 415px;
    }

    #questions li:nth-of-type(3) {
        margin-left: 35px;
        margin-right: 35px;

       }

       #qrcode {
        font-size: 25px;
        width: 250px;
        height: 250px;
        margin-top: 10px;
    }

    #location {
        padding-top: 8px;
        font-size: 20px;
    }

    .googleOverview {
        height: 360px;
    } 

    .provider-img {
        width: 275px;
        height: 275px;
    } 

    .Qr-space {
        padding-left: 10px;
    }
}

/* Ipad air  */
@media only screen and (max-width: 850px) {
    
    .clinic, .Qr-space {
        height: 350px;
    }

    .Qr-space {
        padding-left: 5px;
    }
    
    #qrcode {
        padding: 10px 0px 10px 0px;
        width: 220px;
        height: 220px;  
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #location {
        font-size: 18px;
        padding: 10px 0px 0px 5px;
    }

    .nav {
        font-size: medium;
        padding: 10px;
        margin-top: 20px;
    }

    .nav-logo {
        width: 100%;
        height: 100%;
        margin-left: 10px;
    }

    #prompt {
        font-size: 16PX;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 5px 10px 0px 10px;
    }

    #questions li {
        padding-top: 3%;
        font-size: 14px;
    }

    .instructions {
        padding: 1px 0% 0% 0%;
        height: 25%;
    }

    .provider-img {
        width: 250px;
        height: 250px;
    }

    .provider-name {
        font-size: 16px;
    }

    .googleOverview {
        height: 350px;
    }

    .contact-title, .location-title, .hours-title{
        font-size: 24px;
        font-weight: 600;
    }

    .hours-list, .contact-list, .location-list {
        font-size: 16px;
    }

    .footer-container {
        padding: 15px;
    }

}


/* Ipad Mini  */
@media only screen and (max-width: 770px){

    .welcome {
        font-size: 20px;
    }
    
    #prompt {
        font-size: 15px;
    }

    #questions li {
        padding-top: 2%;
    }

    #questions li:nth-child(-n+2){
        width: 370px;
    }

    .clinic, .Qr-space  {
        padding: 0px 12px 0px 12px;
    }


    .instructions {
        font-size: 14px;
        padding: 0px 5px 0px 5px;
    }
    
    .google-title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .googleOverview {
        height: 315px;
    }

    .provider-title {
        font-size: 26px;
    }

    .provider-img {
        height: 225px;
        width: 225px;
    }

    .provider-credentials {
        font-size: 14px;
    }

    .g-maps {
        height: 230px;
    }
}
 /*  Surface duo  */

 @media only screen and (max-width: 540px) {
    .container {
        display: block;
    }
    header {
    margin-bottom: 20px !important;
    }
    .clinic {
        width: 100%;
        border-right-style: none;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: black;
        padding: 15px q5px 15px 15px;
        margin: auto;
        overflow: hidden;
    }

    .Qr-space {
        width: 100%;
        overflow: hidden;
    }

    .instructions {
        padding: 0px 15px 0px 15px;
    }

    #questions li:nth-child(-n+2){
        width: 100%;
        margin: auto;
    }
    #questions li {
        font-size: 16px;
        padding-top: 15px;
    }

    #prompt {
        font-size: 18px;
        padding-top: 15px;
    }

    .google-title {
        font-size: 18px;
        padding: 0px 10px;
    }

    .googleOverview {
        height: 300px;
        width: 90%;

    }

    .provider-container {
        padding-bottom: 15px;
    }

    .provider-title {
        font-size: 22px;
    }
    .g-maps {
        height: 200px !important;
    }

    .provider-img {
        width: 150px;
        height: 150px;
    }

    .provider-credentials, .provider-name {
        font-size: 10px;
    }
    .contact-title, .location-title, .hours-title{
        font-size: 20px;
    }
    
    .hours-list, .contact-list, .location-list {
        font-size: 14px !important;
    }
    
    .footer {
        padding: 3px;
        height: 175px;
    }

    .footer-container {
        padding: 10px;
    }
 }

 @media only screen and (max-width: 430px) {
    header {
        margin-bottom: 10px !important;
        }
    
    #prompt {
        font-size: 16px;
        padding-top: 5px;
    }

    #questions li {
        font-size: 15px;
        padding-top: 12px;
    }

    .nav {
        text-align: center;
        font-size: 14px;
        width: 33%;
    }


    .nav-logo {
        margin-top: 15px;
        margin-left: 15px;
        width: 70px;
        height: 70px;
    }

    .googleOverview {
        height: 250px;
        margin-bottom: 30px;
    }

    .provider-container {
       display: block;
    }

    .provider-card {
        display: flex;
        align-items: center;
        margin-left: 12%;
        padding-top: 13px;
    }

    .provider-card:nth-child(2) {
        margin-left: 26%;
    }

    .provider-card:nth-child(3) {
        margin-left: 44%;
    }

    .provider-img {
        width: 125px;
        height: 125px;
    }

    .provider-credentials, .provider-name {
        font-size: 8px;
        padding-left: 5px;
    }

    .g-maps {
        height: 180px !important;
    }

    .contact-title, .location-title, .hours-title{
        font-size: 17px;
    }

    .hours-list, .contact-list, .location-list {
        font-size: 12px !important;
    }

    .hours-list li:nth-child(3) {
        color: transparent;
        font-size: 0px;
    }

    .footer {
        height: 145px;
    }
 }

 @media only screen and (max-width: 400px) {

    .nav {
        font-size: 13px !important;
    }

    #language {
        padding-bottom: 20px;
    }

    #prompt {
        font-size: 15px;
    }

    .google-title, .provider-title {
        font-size: 17px;
    }

    .g-maps {
        height: 160px !important;
    }
 }